
<!DOCTYPE html>
<html lang="en">
<head>
  <title>VC-labs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
</head>
<Body>
	   
	<div class="sign">
		<span class="fast-flicker">Virtual</span>Computer <span class="flicker">Lab</span>
	</div>
	<div class="container_1">
		<div class="ring"></div>
		<div class="ring"></div>
		<div class="ring"></div>
		<p>Loading...</p>
	</div>
  <!--<div class="login-popup">-->
		<div class="container right-panel-active">
			<!-- Sign Up -->
				<div class="container__form container--signup">
				<!--<form action="{{url_for('sign_up')}}" methord="POST" class="form" id="form1">-->
				<h2 class="form__title">Log in </h2>
				<!--<input type="text" placeholder="User" class="input" name="user_name"/>
				<input type="email" placeholder="Email" class="input" name="g_mail"/>
				<input type="password" placeholder="Password" class="input" name="passwd"/>
				<button class="btn">Sign Up</button>-->
				<div class="col s12 m6 offset-m3 center-align">
					<link rel="stylesheet" href="/static/styles/g_style.css" type="text/css">
					<a class="oauth-container btn darken-4 white black-text" href="/login" style="text-transform:none">
						<div class="left">
							<img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
								src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
						</div>
						Login with Google
					</a>
				</div>
				
				
				<!-- Compiled and minified CSS -->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
				
				<!-- Compiled and minified JavaScript -->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			</form>
		</div>
	
		<!-- Sign In -->
		<div class="container__form container--signin">
			<!--<form action="{{url_for('login_val')}}" class="form" id="form2" method="POST">-->
				<h2 class="form__title"></h2>
				<!--<input type="email" placeholder="Email" class="input" name="mail"/>
				<input type="password" placeholder="Password" class="input" name="passd"/>
				<a href="#" class="link">Forgot your password?</a>
				<button class="btn">Sign In</button>-->
				
				
				<!-- Compiled and minified CSS -->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
				
				<!-- Compiled and minified JavaScript -->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			</form>
		</div>
	
		<!-- Overlay -->
		<div class="container__overlay">
			<div class="overlay">
				<div class="overlay__panel overlay--left">
					<!--<button class="btn" id="signIn">Sign In</button>-->
				</div>
				<div class="overlay__panel overlay--right">
					<!--<button class="btn" id="signUp">Sign Up</button>-->
				</div>
			</div>
		</div>
  
<script src="/static/styles/script.js"></script>
<script src="/static/styles/script_1.js"></script>
</body>
</html>